# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.ts text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Archives
*.vsix binary
